In [1]:
# A set is an unordered collection with no duplicate elements.
# Basic uses include membership testing and eliminating duplicate entries.
# Set objects also support mathematical operations like union, intersection,
# difference, and symmetric difference.
# duplicates will automatically be removed
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print (basket)
print ()

{'pear', 'orange', 'apple', 'banana'}

In [2]:
# test for membership
print ('orange' in basket)
print ()

True

In [3]:
# another way to declare single character sets
someChars = set ('235345#$$%^$%&abdfsdf')
print (someChars)
print ()

{'#', 'f', 's', '4', '&', 'b', 'a', '3', '^', '5', 'd', '$', '%', '2'}

In [4]:
# set operations
set1 = set ('abracadabra')
set2 = set ('alacazam')
print ("set1: ", set1)
print ("set2: ", set2)

set1:  {'r', 'b', 'a', 'd', 'c'}
set2:  {'m', 'l', 'z', 'a', 'c'}

In [5]:
# union
print ("set1 | set2: ", set1 | set2)

set1 | set2:  {'m', 'l', 'r', 'b', 'z', 'a', 'd', 'c'}

In [6]:
# intersection
print ("set1 & set2: ", set1 & set2)

set1 & set2:  {'a', 'c'}

In [7]:
# difference
print ("set1 - set2: ", set1 - set2)

set1 - set2:  {'b', 'd', 'r'}

In [8]:
# symmetric difference
print ("set1 ^ set2: ", set1 ^ set2)

set1 ^ set2:  {'m', 'l', 'r', 'd', 'b', 'z'}

In [9]:
# test
set1 = set ('abracadabra')
set2 = set ('alacazam')
print ((set1 ^ set2) - ((set1 | set2) - (set1 & set2)))
print ((set1 ^ set2) - ((set1 - set2) | (set2 - set1)))

set()
set()

In [10]:
set1 = {'dog', 'cat', 'deer'}
print (set1)

{'dog', 'deer', 'cat'}

In [11]:
set2 = set ('sparrow', 'hawk', 'eagle')
print (set2)

TypeError: set expected at most 1 argument, got 3

In [12]:
set3 = set ('abc123')
print (set3)

{'b', '1', 'a', '3', '2', 'c'}

In [13]:
set4 = set ('\'abc123\'')
print (set4)

{'b', '1', 'a', '3', "'", '2', 'c'}