In [1]:
# Tuples ()
# Tuples are immutable sequences, typically used to store collections of heterogeneous
# data, or for cases where an immutable sequence of homogeneous data is needed
# declaring empty tuples
tuple1 = ()
print ("tuple1: ", tuple1, len(tuple1))
tuple2 = tuple ()
print ("tuple2: ", tuple2, len(tuple2))

tuple1:  () 0
tuple2:  () 0

In [2]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [3]:
# singleton tuples must have a trailing comma
tuple3 = (1,) # tuple3 = (1) will throw a syntax error
print ("tuple3: ", tuple3, len(tuple3))

tuple3:  (1,) 1

In [4]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [5]:
# tuple operations: limited since unlike lists, tuples are immutable
tuple4 = (1, 2, 3)

In [6]:
# you can get length of tuples just like lists
print ("tuple4: ", tuple4, len(tuple4))

tuple4:  (1, 2, 3) 3

In [7]:
# you can index tuples just like lists
print ("tuple4: ", tuple4[0], tuple4[1], tuple4[2])

tuple4:  1 2 3

In [8]:
# you can slice tuples just like lists
print ("tuple4[0:2]: ", tuple4[0:2])

tuple4[0:2]:  (1, 2)

In [9]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [10]:
# you can also nest tuples like lists
tuple5 = ((1, 2, 3), (4, 5, 6))
print ("tuple5: ", tuple5, len(tuple5))
print ("tuple5[1][2]: ", tuple5[1][2])

tuple5:  ((1, 2, 3), (4, 5, 6)) 2
tuple5[1][2]:  6

In [11]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [12]:
# you can convert lists to tuples
tuple6 = tuple ([1, 2, 3])
print ("tuple6: ", tuple6, len(tuple6))

tuple6:  (1, 2, 3) 3

In [18]:
# you can convert tuples to lists
tuplex = tuple ([1, 2, 3])
print ("tuplex: ", tuplex, len(tuplex))

lst = list ((10, 20, 30))
print (lst)

tuplex:  (1, 2, 3) 3
[10, 20, 30]

In [19]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [20]:
# tuple packing and unpacking
# multiple assignment is essentially packing/unpacking in action
# tuple packing
tuple7 = 1, 2, 3
print ("tuple7: ", tuple7, len(tuple7))
# tuple unpacking
x, y, z = tuple7
print ("unpacked tuple7: ", x, y, z)
# Note that it is actually the comma which makes a tuple, not the parentheses.
# The parentheses are optional, except in the empty tuple case, or when they
# are needed to avoid syntactic ambiguity.
# For example, f(a, b, c) is a function call with three arguments,
# while f((a, b, c)) is a function call with a 3-tuple as the sole argument.

tuple7:  (1, 2, 3) 3
unpacked tuple7:  1 2 3

In [21]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [25]:
# test
tup1 = (2,) #comma for tuple with single element
print(len(tup1))

1

In [26]:
tup2 = (1, 2, 3)
tup2[1] = 10 #immutable

TypeError: 'tuple' object does not support item assignment

In [27]:
x, y, z = [10, 'Dog', 30]
print (x, y, z)

10 Dog 30