In [49]:
# here are examples of some lists
listPeople = ["tom", "harry", "jane", "liz"]
listFlowers = ["rose", "lily", "tulip", "lantana"]
listPets = ['cat', 'turtle', 'goat', 'dog']
listNumFriends = [21, 33, 10, 51]

In [29]:
# lists of heterogenous items are not incorrect, just atypical
listAtypical = [1, 'cat', 0x45, 567]

In [30]:
print ("listPeople: ", listPeople)
print ("listFlowers: ", listFlowers)
print ("listPets: ", listPets)
print ("listNumFriends: ", listNumFriends)
print ("listAtypical: ", listAtypical)

listPeople:  ['tom', 'harry', 'jane', 'liz']
listFlowers:  ['rose', 'lily', 'tulip', 'lantana']
listPets:  ['cat', 'turtle', 'goat', 'dog']
listNumFriends:  [21, 33, 10, 51]
listAtypical:  [1, 'cat', 69, 567]

In [31]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [50]:
# concatenate lists
listConcat = listPeople + listPets
print ("listConcat -> ", listConcat)

listConcat ->  ['tom', 'harry', 'jane', 'liz', 'cat', 'turtle', 'goat', 'dog']

In [51]:
# length of list
print ("len(listPeople) -> ", len(listPeople))

len(listPeople) ->  4

In [52]:
# refer to item in list with index
print ("listPeople[2] -> ", listPeople[2])
print ("listPeople[-3] -> ", listPeople[-3])

listPeople[2] ->  jane
listPeople[-3] ->  harry

In [53]:
# slice list with [startIndx:endIndx]
print ("listPeople[2:] -> ", listPeople[2:])

listPeople[2:] ->  ['jane', 'liz']

In [37]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [54]:
# assign to an index
listPets[0] = 'trex'
print (listPets)

['trex', 'turtle', 'goat', 'dog']

In [55]:
# assign to a slice
listPets[0:2] = ['python', 'elephant']
print (listPets)

['python', 'elephant', 'goat', 'dog']

In [56]:
# delete a slice
listPets[2:4] = []
print (listPets)

['python', 'elephant']

In [57]:
# append new items to a list
listPets.append('fox')
print (listPets)

['python', 'elephant', 'fox']

In [58]:
# clear a list by assigning to an empty list
listPets[:] = []
print (listPets)

[]

In [59]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [60]:
# we can create lists from other lists
# we can assign lists to other lists
sublistPeople = listPeople[0:3]
print("listPeople: ", listPeople)
print("sublistPeople:", sublistPeople)

listPeople:  ['tom', 'harry', 'jane', 'liz']
sublistPeople: ['tom', 'harry', 'jane']

In [61]:
# we can create lists from other list items
listCompiled = [(listPeople[0]).upper(), listFlowers[0], listNumFriends[0]+10]
print ("listPeople: ", listPeople)
print ("listFlowers: ", listFlowers)
print ("listNumFriends: ", listNumFriends)
print ("listCompiled: ", listCompiled)

listPeople:  ['tom', 'harry', 'jane', 'liz']
listFlowers:  ['rose', 'lily', 'tulip', 'lantana']
listNumFriends:  [21, 33, 10, 51]
listCompiled:  ['TOM', 'rose', 31]

In [62]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [63]:
# we can also nest lists
listNested = [listPeople, listFlowers]
print ("listPeople: ", listPeople)
print ("listFlowers: ", listFlowers)
print ("listNested: ", listNested)

listPeople:  ['tom', 'harry', 'jane', 'liz']
listFlowers:  ['rose', 'lily', 'tulip', 'lantana']
listNested:  [['tom', 'harry', 'jane', 'liz'], ['rose', 'lily', 'tulip', 'lantana']]

In [64]:
# nested list at index 0 - so essentially listPeople
print ("listNested[0]: ", listNested[0])
# nested list at index 1 - so essentially listFlowers
print ("listNested[1]: ", listNested[1])
# pick item at index 1 of nested list at index 0
print ("listNested[0][1]:", listNested[0][1])
# pick item at index 2 of nested list at index 1
print ("listNested[1][2]:", listNested[1][2])

listNested[0]:  ['tom', 'harry', 'jane', 'liz']
listNested[1]:  ['rose', 'lily', 'tulip', 'lantana']
listNested[0][1]: harry
listNested[1][2]: tulip

In [65]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [105]:
lst1 = [100, 200, 300]
lst2 = [5, 15, 25]
lst3 = [10, 50, 50, 20, 0, 10, 50]
print ("lst1: ", lst1)
print ("lst2: ", lst2)
print ("lst3: ", lst3)

lst1:  [100, 200, 300]
lst2:  [5, 15, 25]
lst3:  [10, 50, 50, 20, 0, 10, 50]

In [106]:
# Add an item to the end of the list. Equivalent to lst1[len(lst1):] = [-6000]
lst1.append(-400)
print ("lst1: ", lst1)

lst1:  [100, 200, 300, -400]

In [107]:
# Extend the lst2 by appending all the items in lst1. Equivalent to lst2[len(lst2):] = lst1
lst2.extend(lst1)
print ("lst2: ", lst2)

lst2:  [5, 15, 25, 100, 200, 300, -400]

In [108]:
# Insert an item at index [3]
lst2.insert (3, -400)
print ("lst2: ", lst2)

lst2:  [5, 15, 25, -400, 100, 200, 300, -400]

In [109]:
# Remove the first item from lst2 whose value is -400.
lst2.remove(-400)
print ("lst2: ", lst2)

lst2:  [5, 15, 25, 100, 200, 300, -400]

In [110]:
# Remove the item at index [6]
del lst2[6]
print ("lst2: ", lst2)

lst2:  [5, 15, 25, 100, 200, 300]

In [111]:
# Remove and returns the last item in the list.
lst2.pop()
print(lst2.pop)
print ("lst2: ", lst2)

<built-in method pop of list object at 0x111140980>
lst2:  [5, 15, 25, 100, 200]

In [112]:
print (lst3)

[10, 50, 50, 20, 0, 10, 50]

In [113]:
# Return the index in lst3 of the first item whose value is 50
print (lst3.index(50))

1

In [114]:
# Return the number of times 50 appears in lst3
print (lst3.count(50))

3

In [115]:
# Reverse the items of lst3 in place.
lst3.reverse()
print ("lst3: ", lst3)

lst3:  [50, 10, 0, 20, 50, 50, 10]

In [116]:
# Sort the items of lst3 in place.
lst3.sort()
print ("lst3: ", lst3)

lst3:  [0, 10, 10, 20, 50, 50, 50]

In [117]:
# Remove all items from the list
lst3.clear()
print ("lst3: ", lst3)

lst3:  []

In [118]:
# Delete the list - so now any refrence to the list will be an error
del lst3
print ("lst3: ", lst3)

NameError: name 'lst3' is not defined

In [119]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [120]:
#Test

In [122]:
#TEST
myStr = "CIS 509"
myLst1 = ['CIS', '509']
myLst2 = ['CIS', 'SCM', 'BDA']
print (myStr[1])
print (myLst1[1])
print (myLst2[-2])

I
509
SCM

In [123]:
print (MyLst1)

NameError: name 'MyLst1' is not defined

In [124]:
myStr[4] = '5'

TypeError: 'str' object does not support item assignment

In [125]:
myLst2.append('MKTG')
print(myLst2)

['CIS', 'SCM', 'BDA', 'MKTG']